/*codigo geral*/
html, body{
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}
.margin{
    margin: 0px;
}

a{
    text-decoration: none;
}

/*sections*/
h3, h2{
    /*titulos das sections*/
    font-size: 2rem;
    font-weight: bolder;
    margin: 2% 0rem 2rem 0rem;
    text-align-last: center;
    color: #ce5e02;
}

#titulo{
    padding-top: 20%;
    color: #ce5e02;
    font-size: 70px;
    letter-spacing: -5px;
}

.conteudo{
    padding: 2%;
    float: left;
    color: #00070d;
}

#acao{
    color: #97933a;
    border: 0.1rem #97933a solid;
    padding: 0.5rem 1rem;
    border-radius: 0.8rem;
}

.justificado{
    text-align: justify;
}

.coluna{
    float: left;
    padding: 0rem 5%;
    position: relative;
}

.dois{
    width: 40%;
    margin-bottom: 15px;
    color: #000000;
    font-size: 16.5px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: .5px
}
.quatro{
    padding: 0 25%;
    margin-bottom: 15px;
    color: #000000;
    font-size: 16.5px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: .5px
}
.cinco{
    width: 40%;
}

.coluna a{
    font-size: 1rem;
    color: #d60b0b;
}

.center{
    /*h3*/
    text-align: center;
}

.ODS12 iframe{
    margin-top: 6.2vh;
}

.cont{
    /*section 2, 3 e 4*/
    margin-bottom: 15px;
    color: #000000;
    font-size: 16.5px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: .5px
}

#inic{
    /*section 6*/
    margin-bottom: 15px;
    color: #000000;
    font-size: 16.5px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: .5px
}

/*fundo*/
#capa{
    background: url("Img/28507.jpg");
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flow-root;
    text-align: center;
}

hr{
    width: 3rem;
    margin-bottom: 2%;
    text-align: center;
}

.icone{
    width: 51px;
}

/*cabeçalho*/

#logo{
    width: 330px;
    position: absolute;
    top: 5px;
    margin-left: 1.3%;
}

header{
    background-color: #330066;
    color: white;
    height: 5.5rem;
    width: 100%;
    position: fixed;
    z-index: 10;
}

/*menu/navbar*/
.list-menu{
    float: right;
    margin-right: 5%;
    list-style: none;
}

header .list-menu li{
    float: left;
    padding: 2rem .8rem;
    font-size: 18px;
}

header .list-menu li:hover{
    background-color: #b34700;
    padding: 1.5rem 1rem 2.5rem 1rem;
    transition: all .4s linear;
}

header li a{
    color: white
}
/*menu responsivo*/
header #toggle{
    display: none;
}

header label{
    visibility: hidden;
}

#menu2{
    visibility: hidden;
}



/*rodape*/
#rodape a{
    font-size: 1rem;
    color: #99ffbb;
}

footer{
    width: 100%;
    background-color: #1f2c3d;
    color: white;
    float: left;
    height: auto;
}

#section_tipo{
    width: 40%;
}

#rodape address{
    font-size: 1.2rem;
}

#rodape .icons{
    width: 25px;
    padding: 0.5rem 2rem 0.5rem 0rem;
}
.contato{
    display: flex;
    align-items: center;
    padding:0 40%;
}

.copyright{
    padding: 0 30%;
}

/*responsividade*/

@media screen and (max-width: 900px){
    /*menus*/
    #menu{
        visibility: hidden;
    }
    
    header label{
        z-index: 1;
        position: absolute;
        visibility: visible;
        margin: 1.5%;
        text-align: right;
        cursor: pointer;
        transition: all .2s linear;
    }

    #menu2{
        background-color: #330066;
        visibility: visible;
        position: absolute;
        margin: 5.9rem 0rem;
        height: 45vh;
        width: 45vw;
        left: -45vw;
    }

    #menu2 a{
        display: block;
        text-decoration: none;
        padding: 7% 5%;
        color: #deca54;
        background-color: #330066;
        border-bottom: 0.1rem #bb8002 solid;
        opacity: 0;
        margin-top: 5vh;
        transition: all .4s linear;
    }

    #toggle:checked ~ #menu2{
        transform: translateX(45vw);
    }
    #toggle:checked ~ #menu2 a{
        opacity: 1;
        margin-top: 0;
    }
    #menu2 a:hover{
        background-color: #26464b;
        padding: 7% 5% 7% 10%;
    }

    /*capa*/
    #capa{
        height: 85%;
    }

    /*cabeçalho*/
    #logodiv{
        width: 100%;
        text-align: center;
        position: relative;
    }

    #logo{
        transform: translateX(-50%);
        margin-left: 0;
    }

    /*sections*/
    .coluna, .dois, .quatro, .cinco{
        display: block;
        width: 80%;
        padding: 0;
        margin: 10px auto;
        float: none; 
    }

    .justify{
        text-align: left;
    }

    .contato, .copyright{
        display: flex;
    }

    /*rodape*/
    #rodape .contato, .copyright{
        padding: 2% 3.5%;
    }
    #rodape .icone{
        padding: 0.5rem 1rem 0.5rem 0rem;
    }
    

}


/*
    # para chamar ids
    . para chamar classes
    clear: both; cancela o efeito das floats
*/